**/*/.turbo/*.log
**/*/*.ts_buildcache
**/*/.tshy
**/*/.tshy-build
/*.log

.env
.env.ci
.env.turbo
.env.test
.env.overrides
.idea
.pnpm-debug.log
.pnpm-store/
.DS_Store
.history/
.local/
.gitlab-ci-local/
.mise-cache/

!meta/
__MACOSX/

# copilot and friends
.github/copilot
cline_docs
.clinerules
.cursorrules
.claude/agents
.claude/commands

#
.github.secrets
.github.secrets.yml
.github.vars
.github.vars.yml

# Avoid eslint and typescript caches
/**/.eslintcache

# Avoid commiting ssl self-signed certificate
/**/*/tls/*
/tls/*

# Directories
/**/*/node_modules
/**/*/dev-node_modules
/**/*/lib
/**/*/dist
/**/*/.next

# Avoid commiting certs
certs/*

# Ignore the coverage directories
coverage/*
!coverage/.gitkeep
**/coverage/*
!**/coverage/.gitkeep
**/junit.xml

# Dependency directories
node_modules/
dev-node_modules/
jspm_packages/
dist/
.next/

.yalc
yalc.lock
**/*/combined.log
**/test/pnpm-lock.yaml

**/.npmrc

#
.turbo
.turbo/runs
.turbo/cookies
.turbo/*.log
.turbo-cache
!.turbo/config.json
!.turbo/profiling/**
!.turbo/runs/.gitkeep

#
.pnpm-store
.devcontainer

.turbo/**/*.log
.turbo/cookies
.turbo/cache
.turbo/daemon
!.turbo/runs/.gitkeep
/*.cookie
.turbo/runs
.output/
